{if $full_page}
<!-- $Id: users_list.htm 17053 2010-03-15 06:50:26Z sxc_shop $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<div class="form-div" style="display:none;">
  <form action="javascript:searchUser()" name="searchForm">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    会员名称:<input type="text" name="keyword" /> <input type="submit" value="搜索" />
  </form>
</div>
<div class="list-div" id="listDiv">
<table cellpadding="3" cellspacing="1">
  <tr>
    <th>剩余额度</th>
    <th>总额度</th>
    <th>延后付款期</th>
    <th>近7天待付款总额</th>
    <th>待付款总额</th>
    <th>白条数</th>
  <tr>
  <tr>
    <td align="center">{$remain_amount}元</td>
    <td align="center">{$bt_info.amount}元</td>
    <td align="center">{$bt_info.repay_term}天</td>
    <td align="center" align="center">{if $repay_sun_amount>0}{$repay_sun_amount}元{else}0{/if}</td>
    <td align="center" align="center">{if $repay_bt.total_amount>0}{$repay_bt.total_amount}元{else}0{/if}</td>
    <td align="center" align="center">{$repay_bt.numbers}</td>
  </tr>
</table>
</div>

<form method="POST" action="" name="listForm" onsubmit="return confirm_bath()">

<!-- start users list -->
<div class="list-div" id="listDiv">
{/if}
<!--用户列表部分-->
<table cellpadding="3" cellspacing="1">
  <tr>
    <th>
      <input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox">
      <a href="javascript:listTable.sort('baitiao_id'); ">编号</a>
    </th>
    <th>订单号</th>
    <th>消费金额</th>
    <th>消费记账日</th>
    <th>到期还款日</th>
    <th>客户还款日</th>
    <th>应付金额</th>
    <th>支付状态</th>
    <th>操作</th>
  <tr>
  {foreach from=$bt_logs item=bt_log}
  <tr>
    <td align="center"><input type="checkbox" name="checkboxes[]" value="{$bt_log.log_id}"/>{$bt_log.log_id}</td>
    <td align="center"><a href="order.php?act=info&order_id={$bt_log.order_id}" class="f6">{$bt_log.order_sn}</a> </td>
    <td align="center">{if $bt_log.order_amount}{$bt_log.order_amount}元{/if}</td>
    <td align="center" align="center">{$bt_log.use_date}</td>
    <td align="center" align="center">{$bt_log.repay_date}</td>
    <td align="center" align="center">{if $bt_log.repayed_date}{$bt_log.repayed_date}元{/if}</td>
    <td align="center" align="center">{if $bt_log.order_amount}{$bt_log.order_amount}元{/if}</td>
    <td align="center" align="center">{if $bt_log.is_repay}已付款{else}待支付{/if}</td>
    <td align="center" align="center">
      <a href="javascript:confirm_redirect('你确定要删除该消费记录吗？', 'user_baitiao_log.php?act=remove_log&log_id={$bt_log.log_id}')" title="{$lang.remove}"><img src="images/icon_drop.gif" border="0" height="16" width="16" /></a>
    </td>
  </tr>
  {foreachelse}
  <tr><td class="no-records" colspan="11">{$lang.no_records}</td></tr>
  {/foreach}
  <tr>
      <td colspan="2" style="background-color: rgb(255, 255, 255);">
      <input type="hidden" value="batch_remove_log" name="act">
      <input type="submit" class="button" value="删除" id="btnSubmit"></td>
      <td align="right" nowrap="true" colspan="9">
      {include file="page.htm"}
      </td>
  </tr>
</table>

{if $full_page}
</div>
<!-- end users list -->
</form>
<script type="text/javascript" language="JavaScript">
<!--
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};

{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}

{literal}
onload = function()
{
    document.forms['searchForm'].elements['keyword'].focus();
    // 开始检查订单
    startCheckOrder();
}

/**
 * 搜索用户
 */
function searchUser()
{
    listTable.filter['keywords'] = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
    listTable.filter['page'] = 1;
    listTable.loadList();
}

function confirm_bath()
{
  userItems = document.getElementsByName('checkboxes[]');

  cfm = '你确定要删除所选的用户白条吗？';

  return confirm(cfm);
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}
{/if}