{if $full_page}
<!-- $Id: users_list.htm 17053 2010-03-15 06:50:26Z sxc_shop $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<div class="form-div">
  <form action="javascript:searchUser()" name="searchForm">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    会员名称:<input type="text" name="keyword" /> <input type="submit" value="搜索" />
  </form>
</div>

<form method="POST" action="" name="listForm" onsubmit="return confirm_bath()">

<!-- start users list -->
<div class="list-div" id="listDiv">
{/if}
<!--用户列表部分-->
<table cellpadding="3" cellspacing="1">
  <tr>
    <th>
      <input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox">
      <a href="javascript:listTable.sort('baitiao_id'); ">编号</a>
    </th>
    <th>会员名称</th>
    <th><a href="javascript:listTable.sort('amount'); ">用户白条额度</a></th>
    <th><a href="javascript:listTable.sort('repay_term'); ">信用账期</a></th>
    <th>操作</th>
  <tr>
  {foreach from=$baitiao_list item=baitiao}
  <tr>
    <td align="center"><input type="checkbox" name="checkboxes[]" value="{$baitiao.baitiao_id}"/>{$baitiao.baitiao_id}</td>
    <td align="center" class="first-cell">{$baitiao.user_name|escape}</td>
    <td align="center">{$baitiao.amount}</td>
    <td align="center" align="center">{$baitiao.repay_term}</td>
    <td align="center" align="center">
      <a href="user_baitiao_log.php?act=bt_add_tp&user_id={$baitiao.user_id}" title="{$lang.edit}"><img src="images/icon_edit.gif" border="0" height="16" width="16" /></a>
      <a href="user_baitiao_log.php?act=log_list&bt_id={$baitiao.baitiao_id}&user_id={$baitiao.user_id}" title="查看记录"><img src="images/icon_view.gif" border="0" height="16" width="16" /></a>
      <a href="javascript:confirm_redirect('你确定要删除该会员的用户白条吗？', 'user_baitiao_log.php?act=remove&baitiao_id={$baitiao.baitiao_id}')" title="{$lang.remove}"><img src="images/icon_drop.gif" border="0" height="16" width="16" /></a>
    </td>
  </tr>
  {foreachelse}
  <tr><td class="no-records" colspan="11">{$lang.no_records}</td></tr>
  {/foreach}
  <tr>
      <td colspan="2" style="background-color: rgb(255, 255, 255);">
      <input type="hidden" value="batch_remove" name="act">
      <input type="submit" class="button" value="删除" id="btnSubmit" disabled=""></td>
      <td align="right" nowrap="true" colspan="9">
      {include file="page.htm"}
      </td>
  </tr>
</table>

{if $full_page}
</div>
<!-- end users list -->
</form>
<script type="text/javascript" language="JavaScript">
<!--
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};

{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}

{literal}
onload = function()
{
    document.forms['searchForm'].elements['keyword'].focus();
    // 开始检查订单
    startCheckOrder();
}

/**
 * 搜索用户
 */
function searchUser()
{
    listTable.filter['keywords'] = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
    listTable.filter['page'] = 1;
    listTable.loadList();
}

function confirm_bath()
{
  userItems = document.getElementsByName('checkboxes[]');

  cfm = '你确定要删除所选的用户白条吗？';

  return confirm(cfm);
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}
{/if}