<!-- $Id: sitemap.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
<div class="main-div">
<p style="padding: 0 10px">{$lang.license_notice}</p>
</div>

<SCRIPT type="text/javascript" language="JavaScript">
<!--
function msg(){
if (confirm("{$lang.now_activation}"))
document.license.submit()
}
//-->
</SCRIPT>


<div class="main-div">
<table width="100%">
<form   method="POST" action="license.php?act=download" name="theForm">
<tr>
    <td class="label">{if $cert_license.flag=='login_succ' && $cert_license.request.info.service.ecshop_b2c.cert_auth.service_time.etime>0} {$lang.commercial_license}{else}{$lang.commonly_license}{/if}</td>
    <td></td>
</tr>
<tr>
    <td class="label">{$lang.label_license_key}:{$certificate_id}</td>
    <td><input type="submit" value="{$lang.download_license}" class="button" /></td>
    <td></td>
</tr>
</form>
<form method="POST" action="license.php?act=del" name="theForm" onsubmit="return del_check();">
<tr>
    <td class="label">{$lang.if_fail_license}</td>
    <td><input type="submit" value="{$lang.delete}" class="button" /></td>
    <td>    </td>
</tr>
</form>
</table>

</div>


{if $cert_license.flag!='login_succ' || $cert_license.request.info.service.ecshop_b2c.cert_auth.service_time.etime==0}
<div class="main-div">
<table width="100%">
<form name="license" method="POST" action="license.php?act=activation" name="theForm">
<tr>
    <td class="label">{$lang.site_url}</td>
    <td>{$site_url}</td>
</tr>
<tr>
    <td class="label">{$lang.activation_code}</td>
    <td><input id="activation_code"  type="text"  value="" name="activation_code">{$lang.activation_code_remind}</td>
</tr>
<tr>
    <td></td>
    <td> <input type="button" name="Submit" value="{$lang.activation_license}" onclick="msg();" class="button"></td>
</tr>
</form>
</table>
</div>

{/if}









{literal}
<script type="text/javascript" language="JavaScript">
<!--
onload = function()
{

}

function del_check()
{
  if (confirm(del_confirm))
  {
    return true;
  }
  else
  {
    return false;
  }
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}