<!-- $Id: admin_logs.htm 15477 2008-12-22 03:44:50Z sunxiaodong $ -->

{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<div class="form-div">
<table>
    <tr>
      <td>
      <form name="Form2" action="notice_logs.php?act=batch_drop" method="POST">
      {$lang.drop_logs}
      <select name="log_date">
        <option value='0'>{$lang.select_date}</option>
        <option value='1'>{$lang.week_date}</option>
        <option value='2'>{$lang.month_date}</option>
        <option value='3'>{$lang.three_month}</option>
        <option value='4'>{$lang.six_month}</option>
        <option value='5'>{$lang.a_yaer}</option>
      </select>
      <input name="drop_type_date" type="submit" value="{$lang.comfrom}" class="button" />
      </form>
      </td>
    </tr>
</table>
</div>

<form method="POST" action="notice_logs.php?act=batch_drop" name="listForm">
<!-- start admin_logs list -->
<div class="list-div" id="listDiv">
{/if}

<table cellpadding="3" cellspacing="1">
  <tr>
    <th><input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox">
    <a href="javascript:listTable.sort('id'); ">编号</a></th>
    <th>商品</th>
    <th>邮箱</th>
    <th>发送状态</th>
    <th>发送方式</th>
    <th>发送时间</th>
  </tr>
  {foreach from=$log_list item=list}
  <tr>
    <td width="10%"><span><input name="checkboxes[]" type="checkbox" value="{$list.id}" />{$list.id}</span></td>
    <td width="15%" class="first-cell" align="center"><span>{$list.goods_name|escape:html}</span></td>
    <td width="20%" align="center"><span>{$list.email}</span></td>
    <td width="15%" align="center"><span>{if $list.send_ok == 1}发送成功{else}发送失败{/if}</span></td>
    <td width="15%" align="center"><span>{if $list.send_type == 1}邮件{elseif $list.send_type == 2}短信{/if}</span></td>
    <td width="15%" align="center"><span>{$list.send_time}</span></td>
  </tr>
  {/foreach}
  <tr>
    <td colspan="2"><input name="drop_type_id" type="submit" id="btnSubmit" value="{$lang.drop_logs}" disabled="true" class="button" /></td>
    <td align="right" nowrap="true" colspan="10">{include file="page.htm"}</td>
  </tr>
</table>

{if $full_page}
</div>
<!-- end ad_position list -->

<script type="text/javascript" language="JavaScript">
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}
  {literal}
  onload = function()
  {
    // &#65533;&#65533;&#700;&#65533;&#65533;鹜&#65533;&#65533;
    startCheckOrder();
  }
  {/literal}
</script>
{include file="pagefooter.htm"}
{/if}
