{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<!--视情况加载-->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

<form method="POST" action="photoinfo_collect.php?act=photoinfo_batch_import&goods_id={$goods_id}" name="listForm" onsubmit="return subConfirm()">

<!-- start comment list -->
<div>商品描述<div>
<div id="desc" style="margin:5px;height:150px;overflow:auto;">{$data.commodity}</div>
<div class="list-div" id="listDiv">
<table cellpadding="3" cellspacing="1">
  <tr>
    <th>
      <input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox">
      编号</th>
	<th>商品</th>
    <th>图片</th>
    <th>描述</th>
	<th>图片路径</th>
    <th></th>
  </tr>
  {foreach from=$data.photo item=photo name=notaobao key=key}
  <tr align="center">
    <td><input value="{$key}" name="checkboxes[]" type="checkbox">{$smarty.foreach.notaobao.iteration}</td>
    <td><a href="../goods.php?id={$goods_id}" target="_blank" >{$data.goods_name}</a><input type="hidden" name="goods_id" value="{$goods_id}" /></td>
    <td><img src="{$photo}"  style="height:120px; width:120px;"/></td>
    <td><input name="img_desc[]" type="text" ></td>
	<td><input value="{$photo}" name="photo_url[]" type="text" size="110"></td>

  </tr>
    {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
    {/foreach}
  </table>

  <table cellpadding="4" cellspacing="0">
    <tr>
      <td>
		<input type="submit" name="drop" id="btnSubmit" value="批量导入" class="button" disabled="true" />
      </td>
    </tr>


  </table>

	<table cellpadding="3" cellspacing="1">
		<tr>
			<td width="80%">搜索到图片<strong><font color="#FF0000">{$num}</font></strong>条</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
	</table>
	<textarea style="display:none" id="t_desc" name="goods_desc">
	{$data.commodity}
    </textarea>

</div>
<!-- end comment list -->
</form>

<script type="text/javascript" language="JavaScript">
<!--
	function subConfirm(){
		if(confirm("确定将所选数据导入数据库？")){

		}else{
			return false;
		}
	}
//-->
</script>
{include file="pagefooter.htm"}
