<!-- $Id: order_info.htm 15544 2009-01-09 01:54:28Z zblikai $ -->

{include file="pageheader.htm"}
{insert_scripts files="topbar.js,../js/utils.js,listtable.js,selectzone.js,../js/common.js"}
<form action="order.php?act=operate" method="post" name="theForm">
<div class="list-div" style="margin-bottom: 5px">
<table width="100%" cellpadding="3" cellspacing="1">
  <tr>
    <th colspan="4">{$lang.base_info}</th>
  </tr>
  <tr>
    <td><div align="right"><strong>{$lang.return_time}</strong></div></td>
    <td>{$back_order.apply_time}</td>
    <td><div align="right"><strong></strong></div></td>
    <td></td>
  </tr>
  <tr>
    <td><div align="right"><strong>{$lang.delivery_sn_number}</strong></div></td>
    <td>{$back_order.delivery_sn}</td>
    <td><div align="right"><strong>{$lang.label_shipping_time}</strong></div></td>
    <td>{$back_order.formated_update_time}</td>
  </tr>
  <tr>
    <td width="18%"><div align="right"><strong>{$lang.label_order_sn}</strong></div></td>
   <td width="34%">{$back_order.order_sn}{if $back_order.extension_code eq "group_buy"}<a href="group_buy.php?act=edit&id={$back_order.extension_id}">{$lang.group_buy}</a>{elseif $back_order.extension_code eq "exchange_goods"}<a href="exchange_goods.php?act=edit&id={$back_order.extension_id}">{$lang.exchange_goods}</a>{/if}
    <td><div align="right"><strong>{$lang.label_order_time}</strong></div></td>
    <td>{$back_order.formated_add_time}</td>
  </tr>
  <tr>
    <td><div align="right"><strong>{$lang.label_user_name}</strong></div></td>
    <td>{$back_order.user_name|default:$lang.anonymous}</td>
    <td><div align="right"><strong>{$lang.label_how_oos}</strong></div></td>
    <td>{$back_order.how_oos}</td>
  </tr>
  <tr>
    <td><div align="right"><strong>{$lang.label_shipping}</strong></div></td>
    <td>{if $exist_real_goods}{if $back_order.shipping_id > 0}{$back_order.shipping_name}{else}{$lang.require_field}{/if} {if $back_order.insure_fee > 0}（{$lang.label_insure_fee}{$back_order.formated_insure_fee}）{/if}{/if}</td>
    <td><div align="right"><strong>{$lang.label_shipping_fee}</strong></div></td>
    <td>{$back_order.shipping_fee}</td>
  </tr>
  <tr>
    <td><div align="right"><strong>{$lang.label_insure_yn}</strong></div></td>
    <td>{if $insure_yn}{$lang.yes}{else}{$lang.no}{/if}</td>
    <td><div align="right"><strong>{$lang.label_insure_fee}</strong></div></td>
    <td>{$back_order.insure_fee|default:0.00}</td>
  </tr>
  <tr>
    <td><div align="right"><strong>{$lang.label_invoice_no}</strong></div></td>
    <td>{$back_order.invoice_no}</td>
    <td><div align="right"><strong>订单状态</strong></div></td>
    <td>由用户寄回</td>
  </tr>
  <tr>
    <th colspan="4">{$lang.consignee_info}</th>
    </tr>
  <tr>
    <td><div align="right"><strong>{$lang.label_consignee}</strong></div></td>
    <td>{$back_order.addressee|escape}</td>
    <td><div align="right"><strong>{$lang.label_email}</strong></div></td>
    <td>{$back_order.email}</td>
  </tr>
  <tr>
    <td><div align="right"><strong>{$lang.label_address}</strong></div></td>
    <td>[{$back_order.region}] {$back_order.address|escape}</td>
    <td><div align="right"><strong>{$lang.label_zipcode}</strong></div></td>
    <td>{$back_order.zipcode|escape}</td>
  </tr>
  <tr>
    <td><div align="right"><strong>{$lang.label_tel}</strong></div></td>
    <td>{$back_order.tel}</td>
    <td><div align="right"><strong>{$lang.label_mobile}</strong></div></td>
    <td>{$back_order.phone|escape}</td>
  </tr>
  <tr>
    <td><div align="right"><strong>{$lang.label_sign_building}</strong></div></td>
    <td>{$back_order.sign_building|escape}</td>
    <td><div align="right"><strong>{$lang.label_best_time}</strong></div></td>
    <td>{$back_order.best_time|escape}</td>
  </tr>
  <tr>
    <td><div align="right"><strong>{$lang.label_postscript}</strong></div></td>
    <td colspan="3">{$back_order.remark}</td>
  </tr>
</table>
</div>

<div class="list-div" style="margin-bottom: 5px ; ">
<table width="100%" cellpadding="3" cellspacing="1">
  <tr>
    <th colspan="7" scope="col">{$lang.goods_info}</th>
    </tr>
  <tr>
    <td scope="col"><div align="center"><strong>{$lang.goods_name_brand}</strong></div></td>
    <td scope="col"><div align="center"><strong>{$lang.goods_sn}</strong></div></td>
    <td scope="col"><div align="center"><strong>{$lang.product_sn}</strong></div></td>
    <td scope="col"><div align="center"><strong>{$lang.goods_attr}</strong></div></td>
    <td scope="col"><div align="center"><strong>{$lang.label_send_number}</strong></div></td>
  </tr>
  {foreach from=$goods_list item=goods}
  <tr>
    <td>
    {if $goods.goods_id gt 0 && $goods.extension_code neq 'package_buy'}
    <a href="../goods.php?id={$goods.goods_id}" target="_blank">{$goods.goods_name} {if $goods.brand_name}[ {$goods.brand_name} ]{/if}
    {/if}
    </td>
    <td><div align="left">{$goods.goods_sn}</div></td>
    <td><div align="left">{$goods.product_sn}</div></td>
    <td><div align="left">{$goods.goods_attr|nl2br}</div></td>
    <td><div align="left">{$goods.send_number}</div></td>
  </tr>
  {/foreach}
</table>
</div>
<div class="list-div" style="margin-bottom: 5px">
<table width="100%" cellpadding="3" cellspacing="1">
  <tr>
    <th colspan="7" scope="col">{$lang.return_goods_info}</th>
  </tr>
  <tr>
    <td scope="col" width="45%"><div align="center"><strong>{$lang.goods_name_brand}</strong></div></td>
    <td scope="col" width="6%"><div align="center"><strong>{$lang.business}</strong></div></td>
    <td scope="col" width="12%"><div align="center"><strong>{$lang.goods_sn}</strong></div></td>
    <td scope="col" width="6%"><div align="center"><strong>{$lang.product_sn}</strong></div></td>
    <td scope="col" width="15%"><div align="center"><strong>{$lang.goods_attr}</strong></div></td>
    <td scope="col" width="6%"><div align="center"><strong>{$lang.label_should_refund}</strong></div></td>
    <td scope="col" width="6%"><div align="center"><strong>{$lang.goods_number}</strong></div></td>
  </tr>
  {foreach from=$return_list item=goods}
  <tr>
    <td>
    {if $goods.goods_id gt 0 && $goods.extension_code neq 'package_buy'}
    <a href="../goods.php?id={$goods.goods_id}" target="_blank">{$goods.goods_name} {if $goods.brand_name}[ {$goods.brand_name} ]{/if}
    {/if}
    </td>
    <td><div align="left">{if $goods.return_type eq 1}退货-退回{elseif $goods.return_type eq 2}换货-换出{/if}</div></td>
    <td><div align="left">{$goods.goods_sn}</div></td>
    <td><div align="left">{$goods.product_sn}</div></td>
    <td><div align="left">{$goods.goods_attr|nl2br}</div></td>
    <td><div align="left">{if $goods.return_type eq 2}-{/if}{$goods.refound}</div></td>
    <td><div align="left">{if $goods.return_type eq 1}{$goods.back_num}{elseif $goods.return_type eq 2}{$goods.out_num}{/if}</div></td>
  </tr>
  {/foreach}
  
  <tr>
     {if $back_order.exchange gt 0}
      <td colspan="5">
        换出操作公司 ：
        {if $back_order.out_shipping_name}
        <span style="font-weight: bolder">{$back_order.out_shipp_shipping}</span>
         快递单号：
        <span style="font-weight: bolder">{$back_order.out_invoice_no}</span>
        <a class="special" href="order.php?act=return_edit&ret_id={$back_order.ret_id}&order_id={$back_order.order_id}&step=back_shipping">编辑</a>
        {else}
        <select name="shipping_name">
            <option value="0">请选择快递公司</option>
            {foreach from=$shipping_list item=shipping }
            <option value="{$shipping.shipping_id}">{$shipping.shipping_name}</option>
            {/foreach}
        </select> 
        快递单号
        <input type="text"  name="invoice_no"/><input type="submit" value="确定"  onclick="check_shipping()"  name="send_submit" />
        {/if}
      </td>
      {else}
      <td colspan="5">&nbsp;</td>
      {/if}
      <td colspan="5"> 
          小计：<span style="color: red">{$back_order.should_return}<input type="hidden" name="refound_amount" value="{$back_order.should_return1}"/></span>
      </td>
  </tr>
  <script>
      function check_shipping(){
          var frm =  document.forms['theForm'] ;
          var shipping_name = frm['shipping_name'].value;
            if( shipping_name <= 0 ){

                alert('请选择快递公司');
                return false;
            }
            var invoice_no = frm['invoice_no'].value ;
            if(invoice_no == ''|| invoice_no ==NULL ){
                
                alert('请填写快递单号');
                return false;
            
            }
          
      
      }
      
  </script>
  <tr>
      <td>退换货原因：{$back_order.return_cause}<td>
  </tr>
  
</table>
</div>
<div class="list-div" style="margin-bottom: 5px">
<table cellpadding="3" cellspacing="1">
  <tr>
    <th colspan="6">{$lang.action_info}</th>
  </tr>
  <tr>
     <td>
        <div align="right">
        <strong>操作备注：</strong>
        </div>
    </td>
    <td colspan="3">
        <textarea rows="3" cols="60" name="action_note"></textarea>
    </td>
    <td>
        <div align="right">
        <strong>订单注释-用户前台可见：</strong>
        </div>
    </td>
    <td colspan="3">
        <textarea rows="3" cols="60" name="action_note1"></textarea>
        <input class="button" type="submit" value="确定" name="zhushi">
    </td>
  </tr>
  <tr>
      <td>
        <div align="right"></div>
        <div align="right">
        <strong>当前可执行操作：</strong>
        </div>
        </td>
        <td colspan="5">
        {if $back_order.return_status1 lt 1 }
          <input class="button" type="submit" value="收到退回商品" name="receive_goods">
        {/if}
        {if $back_order.refound_status1 eq 0 }
        <input class="button" type="submit" value="去退款" name="refound">
        {/if}
        {if $back_order.return_status1 lt 2 }
        <input class="button" type="submit" value="换出商品寄出【分单】" name="swapped_out_single">
        <input class="button" type="submit" value="换出商品寄出" name="swapped_out">
        {/if}
        {if $back_order.return_status1 lt 4 }
        <input class="button" type="submit" value="完成退换货" name="complete">
        {/if}
        <input class="button" type="submit" value="售后" name="after_service">
        <input type="hidden" value="{$back_order.order_id}" name="order_id">
        <input type="hidden" value="{$back_order.rec_id}" name="rec_id" />
        <input type="hidden" value="{$back_order.ret_id}" name="ret_id" />
        </td>
  </tr>
  <tr>
    <th>{$lang.action_user}</th>
    <th>{$lang.action_time}</th>
    <th>{$lang.return_status}</th>
    <th>{$lang.refound_status}</th>
    <th colspan="2">{$lang.action_note}</th>
  </tr>
  {foreach from=$action_list item=action}
  <tr>
    <td><div align="center">{$action.action_user}</div></td>
    <td><div align="center">{$action.action_time}</div></td>
    <td><div align="center">{$action.return_status}</div></td>
    <td colspan="2"><div align="center">{$action.refound_status}</div></td>
    
    <td>{$action.action_note|nl2br}</td>
  </tr>
  {/foreach}
</table>
</div>
</form>
{literal}
<script language="JavaScript">
{/literal}
  var oldAgencyId = {$back_order.agency_id|default:0};
{literal}
  onload = function()
  {
    // 开始检查订单
    startCheckOrder();
  }

</script>
{/literal}

{include file="pagefooter.htm"}