<!-- $Id: comment_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->

{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<div class="form-div">
  <form action="javascript:searchComment()" name="searchForm">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    客户邮箱 <input type="text" name="keyword" />&nbsp;发送状态
    <select name="send_status">
    	<option>请选择……</option>
    	<option value="2">未发送</option>
    	<option value="1">已发送</option>
    	<option value="3">系统发送失败</option>
    </select>
     <input type="submit" class="Button" value="{$lang.button_search}" />
  </form>
</div>

<form method="POST" action="sale_notice.php?act=batch_drop" name="listForm" onsubmit="return confirm_bath()">

<!-- start comment list -->
<div class="list-div" id="listDiv">
{/if}

<table cellpadding="3" cellspacing="1">
  <tr>
    <th>
      <input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox">
      <a href="javascript:listTable.sort('id'); ">编号</a></th>
    <th>用户名</th>
    <th>商品名</th>
    <th>手机号</th>
    <th>邮箱</th>
    <th>商品现价</th>
    <th>期望价</th>
    <th>申请时间</th>
    <th>发送状态</th>
    <th>发送方式</th>
    <th>备注</th>
    <th>操作</th>
  </tr>
  {foreach from=$notice_list item=list}
  <tr>
    <td><input value="{$list.id}" name="checkboxes[]" type="checkbox">{$list.id}</td>
    <td align="center">{$list.user_name}</td>
    <td align="center"><a href="{$list.goods_link}" target="_blank">{$list.goods_name}</a></td>
    <td align="center">{$list.cellphone}</td>
    <td align="center">{$list.email}</td>
    <td align="center">{$list.shop_price}</td>
    <td align="center">{$list.hopeDiscount}</td>
    <td align="center">{$list.add_time}</td>
    <td align="center">{$list.status}</td>
    <td align="center">{$list.send_type}</td>
    <td align="center">{$list.mark}</td>
    <td align="center">
      <a href="sale_notice.php?act=view&amp;id={$list.id}"><img src="images/icon_edit.gif" border="0" height="16" width="16" /></a>
    </td>
  </tr>
    {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
    {/foreach}
  </table>

  <table cellpadding="4" cellspacing="0">
    <tr>
      <td>
      <div>
      <select name="sel_action">
        <option value="remove">删除</option>
      </select>
      <input type="hidden" name="act" value="batch" />
      <input type="submit" name="drop" id="btnSubmit" value="{$lang.button_submit}" class="button" disabled="true" /></div></td>
      <td align="right">{include file="page.htm"}</td>
    </tr>
  </table>

{if $full_page}
</div>
<!-- end comment list -->

</form>
<script type="text/javascript" language="JavaScript">
<!--
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};
  cfm = new Object();
  cfm['allow'] = '{$lang.cfm_allow}';
  cfm['remove'] = '{$lang.cfm_remove}';
  cfm['deny'] = '{$lang.cfm_deny}';

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}

  {literal}
  onload = function()
  {
      document.forms['searchForm'].elements['keyword'].focus();
      // 开始检查订单
      startCheckOrder();
  }
  /**
   * 搜索评论
   */
  function searchComment()
  {
      var keyword = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
      var send_status = document.forms['searchForm'].elements['send_status'].value;
      if (keyword.length > 0 ||　send_status)
      {
        listTable.filter['keywords'] = keyword;
        listTable.filter['send_status'] = send_status;
        listTable.filter.page = 1;
        listTable.loadList();
      }
      else
      {
          document.forms['searchForm'].elements['keyword'].focus();
      }
  }
  {/literal}

  function confirm_bath()
  {
    var action = document.forms['listForm'].elements['sel_action'].value;

    return confirm(cfm[action]);
  }
//-->
</script>
{include file="pagefooter.htm"}
{/if}