
body {
    background: none repeat scroll 0 0 #f2f1f6;
    color: #333333;
}
.base {
    background: none repeat scroll 0 0 #ffffff;
    border-bottom: 0.0625rem solid #c8c7cc;
    border-top: 0.0625rem solid #c8c7cc;
    margin-bottom: 0.625rem;
    margin-top: 0.625rem;
}
.p-img {
    background: none repeat scroll 0 0 #f1f1f1;
}
.p-info {
    color: #333333;
    font-size: 0.813rem;
    height: 2.375rem;
    line-height: 1.188rem;
}
.price {
    color: #e43743;
}
.c-header-toolbar {
    background: none repeat scroll 0 0 #e4393c;
    height: 2.5rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    position: relative;
}
.c-header-toolbar .search {
    margin: 0.313rem auto 0;
    overflow: hidden;
    position: relative;
    width: 13.75rem;
}
.c-header-toolbar .search input[type="text"] {
    background: none repeat scroll 0 0 #fff7f7;
    border: medium none;
    border-radius: 1rem;
    color: #333333;
    font-size: 0.875rem;
    height: 1.875rem;
    line-height: 1.125rem;
    padding: 0.375rem 2.813rem 0.375rem 0.813rem;
    width: 100%;
}
.c-header-toolbar .search *:-moz-placeholder {
    color: #cbacac;
}
.c-header-toolbar .search *::-moz-placeholder {
    color: #cbacac;
}
.c-header-toolbar .search .icon-search {
    background-image: url("http://static.360buyimg.com/panda_cube/img/cube_template/template2/skin/i/icon2.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    height: 0.938rem;
    position: absolute;
    right: 1rem;
    top: 0.469rem;
    width: 0.938rem;
}
.c-header-toolbar .search s {
    background: none repeat scroll 0 0 #cbacac;
    height: 1.375rem;
    position: absolute;
    right: 2.75rem;
    top: 0.219rem;
    width: 1px;
}
.c-header-toolbar .icon-return {
    background-image: url("http://static.360buyimg.com/panda_cube/img/cube_template/template2/skin/i/icon1.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    height: 1.188rem;
    left: 0.625rem;
    position: absolute;
    top: 0.688rem;
    width: 0.625rem;
}
.c-header-toolbar .icon-nav {
    background-image: url("http://static.360buyimg.com/panda_cube/img/cube_template/template2/skin/i/icon3.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    height: 1rem;
    position: absolute;
    right: 0.625rem;
    top: 0.813rem;
    width: 1.25rem;
}
.c-rollimage-activity {
    height: 8.125rem;
    overflow: hidden;
}
.c-rollimage-activity .rollimage {
    height: 8.125rem;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.c-rollimage-activity .rollimage .rollimage-img li {
    height: 8.125rem;
}
.c-rollimage-activity .rollimage .rollimage-img a {
    display: block;
    height: 100%;
    text-align: center;
    width: 100%;
	overflow:hidden;
}
.c-rollimage-activity .rollimage .rollimage-img a img{
    display: block;
    height: auto;
    width: 100%;
	overflow:hidden;
}
.c-rollimage-activity .rollimage .rollimage-position {
    bottom: 0.313rem;
    left: 50%;
    position: absolute;
}
.c-rollimage-activity .rollimage .rollimage-position li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
    border-radius: 0.25rem;
    height: 0.375rem;
    margin-left: 0.438rem;
    width: 0.375rem;
}
.c-rollimage-activity .rollimage .rollimage-position li:first-child {
    margin-left: 0;
}
.c-rollimage-activity .rollimage .rollimage-position li.active {
    background: none repeat scroll 0 0 #ffffff;
}
.c-logo-opts {
    background: none repeat scroll 0 0 #ffffff;
    border-bottom: 0.0625rem solid #c8c7cc;
    height: 3rem;
    margin-bottom: 0.625rem;
}
.c-logo-opts .store-logo {
    padding-left: 0.625rem;
    padding-right: 2.188rem;
    position: relative;
    text-align: center;
    top: -0.75rem;
    z-index: 99999;
    
}
.c-logo-opts .store-logo a {
    display: block;
    height: 1.875rem;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    width: 5.625rem;
}
.c-logo-opts .store-logo .name {
    color: #666666;
    font-size: 0.75rem;
    line-height: 0.813rem;
    overflow: hidden;
    padding-top: 0.313rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.c-logo-opts .collapse {
    padding-bottom: 0.5rem;
    padding-top: 0.563rem;
}
.c-logo-opts .collapse .columns {
    border-right: 1px solid #c8c7cc;
}
.c-logo-opts .collapse .columns:first-child {
    border-right: medium none;
}
.c-logo-opts .collapse .columns a {
    color: #999999;
    display: block;
    font-size: 0.688rem;
    height: 100%;
    line-height: 0.813rem;
    padding-top: 1.125rem;
    position: relative;
    text-align: center;
    width: 100%;
}
.c-logo-opts .collapse .columns a.active .icon-follow {
    background-image: url("http://static.360buyimg.com/panda_cube/img/cube_template/template2/skin/i/icon5.png");
}
.c-logo-opts .collapse .columns a.disable {
    color: #cccccc;
}
.c-logo-opts .collapse .columns a.disable .icon-connect {
    background-image: url("http://static.360buyimg.com/panda_cube/img/cube_template/template2/skin/i/icon31.png");
}
.c-logo-opts .collapse .columns .icon-follow, .c-logo-opts .collapse .columns .icon-share, .c-logo-opts .collapse .columns .icon-connect {
    background-image: url("http://static.360buyimg.com/panda_cube/img/cube_template/template2/skin/i/icon4.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    height: 0.938rem;
    left: 50%;
    margin-left: -0.531rem;
    position: absolute;
    top: 0;
    width: 1.063rem;
}
.c-logo-opts .collapse .columns .icon-share {
    background-image: url("http://static.360buyimg.com/panda_cube/img/cube_template/template2/skin/i/icon6.png");
    margin-left: -0.438rem;
    width: 0.875rem;
}
.c-logo-opts .collapse .columns .icon-connect {
    background-image: url("http://static.360buyimg.com/panda_cube/img/cube_template/template2/skin/i/icon7.png");
    margin-left: -0.5rem;
    width: 1rem;
}
.c-coupon {
    padding: 0.75rem 0.625rem 0.75rem 0.813rem;
    position: relative;
}
.c-coupon .coupon {
    display: block;
    margin-right: 0.625rem;
    position: relative;
}
.c-coupon .coupon .info {
    bottom: 0;
    left: 18%;
    position: absolute;
    right: 18%;
    text-align: center;
    top: 0;
}
.c-coupon .coupon .amount {
    color: #fff000;
    font-size: 1.188rem;
    line-height: 1.6rem;
    margin-top: 0.25rem;
}
.c-coupon .coupon .condition {
    color: #ffffff;
    font-size: 0.75rem;
    line-height: 1.125rem;
}
.c-coupon .more {
    color: #999999;
    display: block;
    font-size: 0.75rem;
    line-height: 1.125rem;
    margin-top: -0.563rem;
    padding-right: 0.563rem;
    position: absolute;
    right: 0.625rem;
    top: 50%;
}
.c-coupon .more .icon-more {
    background-image: url("http://static.360buyimg.com/panda_cube/img/cube_template/template2/skin/i/icon8.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    height: 0.625rem;
    position: absolute;
    right: 0;
    top: 0.25rem;
    width: 0.375rem;
}
.c-coupon .active .mask {
    cursor: default;
    display: block;
}
.c-coupon .mask {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.c-coupon .mask .icon-got {
    background-image: url("http://static.360buyimg.com/panda_cube/img/cube_template/template2/skin/i/icon33.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    bottom: 0;
    display: block;
    height: 2.75rem;
    position: absolute;
    right: 0;
    width: 2.781rem;
}
.cw-activity-one {
    padding: 0.625rem;
}
.cw-activity-one .activity-img {
    display: block;
    height: 5.8125rem;
    overflow: hidden;
    text-align: center;
}
.cw-activity-two {
    padding: 0.625rem;
}
.cw-activity-two [class*="block-grid-"] {
    margin: 0 -0.1875rem;
}
.cw-activity-two [class*="block-grid-"] > li {
    padding: 0 0.1875rem;
}
.cw-activity-two [class*="block-grid-"] a {
    display: block;
    height: 7.5625rem;
    overflow: hidden;
    text-align: center;
}
.cw-activity-two img {
    height: 7.5625rem;
    width: 9.1875rem;
}
.cw-activity-four {
    padding: 0.625rem;
}
.cw-activity-four [class*="block-grid-"] {
    margin: 0 -0.125rem;
}
.cw-activity-four [class*="block-grid-"] li {
    padding: 0 0.125rem;
}
.cw-activity-four [class*="block-grid-"] a {
    display: block;
    height: 4.8125rem;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}
.cw-activity-four img {
    height: 4.8125rem;
    width: 4.8125rem;
}
.c-product-value {
    padding: 1rem 0.625rem 0.5rem;
}
.c-product-value:before, .c-product-value:after {
    content: "";
    display: table;
}
.c-product-value:after {
    clear: both;
}
.c-product-value .header {
    color: #4c4c4c;
    font-size: 1rem;
    height: 1.25rem;
    line-height: 1.25rem;
    margin-bottom: 0.688rem;
    overflow: hidden;
}
.c-product-value [class*="block-grid-"] {
    margin: 0 -0.25rem;
}
.c-product-value [class*="block-grid-"] li {
    margin-bottom: 0.625rem;
    padding: 0 0.25rem;
}
.c-product-value [class*="block-grid-"] li > a {
    border: 0.0625rem solid #d9d9d9;
    color: #333333;
    display: block;
    padding-bottom: 0.5rem;
}
.c-product-value [class*="block-grid-"] .p-img {
    text-align: center;
}
.c-product-value [class*="block-grid-"] .p-info {
    margin: 0.1875rem 0.625rem 0.3125rem;
    overflow: hidden;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.85);
}
.c-product-value [class*="block-grid-"] .flag {
    margin-left: 0.625rem;
}
.c-product-value [class*="block-grid-"] .flag:before, .c-product-value [class*="block-grid-"] .flag:after {
    content: "";
    display: table;
}
.c-product-value [class*="block-grid-"] .flag:after {
    clear: both;
}
.c-product-value [class*="block-grid-"] .price {
    float: left;
    font-size: 0.938rem;
    height: 1.25rem;
    line-height: 1.25rem;
}
.c-product-value .more {
    color: #999999;
    float: right;
    font-size: 0.938rem;
    line-height: 1.688rem;
    padding-right: 0.75rem;
    position: relative;
}
.c-product-value .more .icon-more {
    background-image: url("http://static.360buyimg.com/panda_cube/img/cube_template/template2/skin/i/icon8.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    height: 0.75rem;
    position: absolute;
    right: 0;
    top: 0.438rem;
    width: 0.438rem;
}
body {
    background: none repeat scroll 0 0 #f2f1f6;
    color: #333333;
}
.base {
    background: none repeat scroll 0 0 #ffffff;
    border-bottom: 0.0625rem solid #c8c7cc;
    border-top: 0.0625rem solid #c8c7cc;
    margin-top: 0.625rem;
}
.p-img {
    background: none repeat scroll 0 0 #f1f1f1;
}
.p-info {
    color: #333333;
    font-size: 0.813rem;
    height: 2.375rem;
    line-height: 1.188rem;
}
.price {
    color: #e43743;
}
.c-product-all {
    height: 2.5rem;
    margin-bottom: 1.438rem;
    margin-top: 1.438rem;
}
.c-product-all a {
    color: #4c4c4c;
    display: block;
    font-size: 0.938rem;
    line-height: 2.5rem;
    text-align: center;
}
.c-product-all a .icon-all {
    background-image: url("http://static.360buyimg.com/panda_cube/img/cube_template/template2/skin/i/icon9.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    height: 1.063rem;
    position: relative;
    top: 0.16rem;
    width: 1.063rem;
}
.p-vip {
    background: url("http://static.360buyimg.com/panda_cube/img/vip.png") no-repeat scroll 0 0 / 1.063rem 1.063rem rgba(0, 0, 0, 0);
    float: left;
    height: 1.063rem;
    margin-left: 0.375rem;
    width: 1.063rem;
}
.c-mask .mask {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9;
}
.c-category-list {
    background: none repeat scroll 0 0 #f6f6f6;
    bottom: 0;
    box-shadow: -1px 0 5px rgba(0, 0, 0, 0.28);
    overflow: auto;
    padding-top: 1.688rem;
    position: fixed;
    right: -17.5rem;
    top: 0;
    transition: width 0.3s ease-out 0s;
    width: 0;
    z-index: 10;
}
.c-category-list.category-show-1 {
    right: 0;
    width: 17.5rem;
}
.c-category-list .name {
    color: #424242;
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: center;
}
.c-category-list .score {
    color: #8c8c8c;
    font-size: 0.75rem;
    line-height: 1.5;
    padding-bottom: 1.563rem;
    padding-top: 0.375rem;
    text-align: center;
}
.c-category-list .score .icon-empty, .c-category-list .score .icon-full {
    background-image: url("http://static.360buyimg.com/panda_cube/img/cube_template/template2/skin/i/icon10.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    height: 0.5rem;
    width: 0.625rem;
}
.c-category-list .score .icon-full {
    background-image: url("http://static.360buyimg.com/panda_cube/img/cube_template/template2/skin/i/icon11.png");
}
.c-category-list .score span {
    margin-left: 0.2rem;
}
.c-category-list .score-list {
    background: none repeat scroll 0 0 #ffffff;
    margin-bottom: 0.688rem;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    position: relative;
}
.c-category-list .score-list .divider {
    background: none repeat scroll 0 0 #dadada;
    height: 2.25rem;
    left: 33.33%;
    position: absolute;
    top: 0.625rem;
    width: 1px;
}
.c-category-list .score-list .divider:last-child {
    left: 66.66%;
}
.c-category-list [class*="block-grid-"] {
    border: 1px solid #e1e1e1;
    border-radius: 0.25rem;
    margin: 0;
}
.c-category-list [class*="block-grid-"] .key {
    color: #424242;
    font-size: 0.75rem;
    line-height: 1.25;
    padding-top: 0.563rem;
    text-align: center;
}
.c-category-list [class*="block-grid-"] .value {
    color: #979797;
    font-size: 0.813rem;
    line-height: 1.625rem;
    padding-bottom: 0.25rem;
    text-align: center;
}
.c-category-list [class*="block-grid-"] .value .icon-down, .c-category-list [class*="block-grid-"] .value .icon-up {
    background-image: url("http://static.360buyimg.com/panda_cube/img/cube_template/template2/skin/i/icon12.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    height: 1.063rem;
    margin-right: 0.375rem;
    position: relative;
    top: 0.281rem;
    width: 1.063rem;
}
.c-category-list [class*="block-grid-"] .value .icon-up {
    background-image: url("http://static.360buyimg.com/panda_cube/img/cube_template/template2/skin/i/icon13.png");
}
.c-category-list .category-list.active .header {
    border-bottom: 0.0625rem solid #c8c7cc;
}
.c-category-list .category-list.active .header .icon-open {
    background-image: url("http://static.360buyimg.com/panda_cube/img/cube_template/template2/skin/i/icon29.png");
}
.c-category-list .category-list.active .list {
    display: block;
}
.c-category-list .category-list:last-child .header {
    border-bottom: 0.0625rem solid #c8c7cc;
}
.c-category-list .category-list .header {
    border-top: 0.0625rem solid #c8c7cc;
    color: #4c4c4c;
    font-size: 0.938rem;
    height: 2.813rem;
    line-height: 2.813rem;
    padding-left: 0.938rem;
    position: relative;
}
.c-category-list .category-list .header .icon-open {
    background-image: url("http://static.360buyimg.com/panda_cube/img/cube_template/template2/skin/i/icon14.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    height: 0.625rem;
    position: absolute;
    right: 0.625rem;
    top: 1.063rem;
    width: 1rem;
}
.c-category-list .category-list .header a {
    color: #4c4c4c;
}
.c-category-list .category-list .list {
    background: none repeat scroll 0 0 #e6e6e6;
    display: none;
}
.c-category-list .category-list .list li {
    height: 2.5rem;
    overflow: hidden;
}
.c-category-list .category-list .list li.active a {
    background: none repeat scroll 0 0 #cccccc;
}
.c-category-list .category-list .list li a {
    color: #808080;
    display: block;
    font-size: 0.938rem;
    height: 100%;
    line-height: 2.5rem;
    padding-left: 0.938rem;
    width: 100%;
}
.row{ overflow:visible}
.small-12 {
    width: 100%;
}
.small-6 {
    width: 50%;
}

.left {
    float: left !important;
}
.small-5 {
    width: 41.6667%;
}
.small-4 {
    width: 33.3333%;
}
.small-3 {
    width: 25%;
}
.right {
    float: right !important;
}

